
<div class="post-div" id="post-<%= post._id %>">
    <div class="post-head">
        <a class="user-name" href="/users/profile/<%= post.user.id %>" style="text-decoration: none; color: rgb(41, 41, 41);">
            <img src="<%= post.user.avatar %>" alt="<%= post.user.name %>"> &nbsp;
            <h5><%= post.user.name %></h5>
        </a>
        <% if(locals.user && locals.user.id == post.user.id ){ %>
            <small class="post-del-btn"><a href="/posts/destroy/<%= post.id %>"><i class="fas fa-trash-alt"></i></a></small>
        <% } %>
    </div>
    <% if (post.postPhoto) { %>
        <img class="post-photo" src="/uploads/posts/post_photos/<%= post.postPhoto %>" alt="Post Photo">
    <% } %>
    <p class="post-content"><%= post.content %></p>
    <div class="post-comment">
        <% if(locals.user) { %>
        <div class="post-comment-bar">
            <div class="like-btn-div"><a class="like-btn" id="like-thumb-post"  href="/likes/toggle/?id=<%= post.id %>&type=Post" >
                <i class="fa fa-thumbs-up"></i></a>
                <p><%= post.likes.length %></p>
            </div>
            <form action="/comments/create" method="post" id="new-comment-form">
                <input type="text" name="content" placeholder="Add your comment here." required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <button type="submit"><i class="far fa-comment-alt"></i></button>
            </form>
        </div>
        <% } %>
        <div class="post-comments-list">
            <ul id= "post-comments-<%= post._id %>" class="all-comments">
                <% for (let comment of post.comments ) { %>
                    <%- include('_comment', { comment: comment , post : post }) %>
                <% } %>
            </ul>
        </div>
    </div>
</div>

<!-- <p>post.likes.user</p><%=  post.likes %><br>
<p>post.user</p><%=  post.user %>

<% if(locals.user && post.user == post.likes.user) { %>
    
    <style>
        #like-thumb-post{
            color: rgb(0, 140, 255);
        }
    </style>
<% } else { %>
    <style>
        #like-thumb-post{
            color: gray;
            /* color: rgb(0, 140, 255); */

        }
    </style>
<% } %> -->
