<div class="post-div" id="post-<%= post._id %>">
    <div class="post-head">
        <h5 class="user-name"><a href="/users/profile/<%= post.user.id %>" style="text-decoration: none; color: rgb(41, 41, 41);"><i class="fas fa-user-circle" style="color: cadetblue;"></i> &nbsp;<%= post.user.name %></a></h5>
        <% if(locals.user && locals.user.id == post.user.id ){ %>
            <small class="post-del-btn"><a href="/posts/destroy/<%= post.id %>"><i class="fas fa-trash-alt"></i></a></small>
        <% } %>
    </div>
    <p class="post-content"><%= post.content %></p>
    <div class="post-comment">
        <% if(locals.user) { %>
        <form action="/comments/create" method="post">
            <input type="text" name="content" placeholder="Add your comment here.">
            <input type="hidden" name="post" value="<%= post._id %>">
            <button type="submit"><i class="far fa-comment-alt"></i></button>
        </form>
        <% } %>
        <div class="post-comments-list">
            <ul id= "post-comments-<%= post._id %>">
                <% for (let comment of post.comments ) { %>
                    <%- include('_comment', { comment: comment , post : post }) %>
                <% } %>
            </ul>
        </div>
    </div>
</div>